pymupdf == 1.24.10
spacy == 3.7.5
wordninja == 2.0.0
langdetect == 1.0.9
transformers == 4.45.1
torch == 2.5.0
en-core-web-sm == 3.7.1 # python -m spacy download en_core_web_sm

#can use conda or pip to install cuda, change version to your own version (mine is 12.1)
# conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia  
